<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tu.mapper.StudentMapper">
    <insert id="insertStudent">
        insert into jwxt.student
        values (#{userId},
                #{userName},
                #{userSex},
                #{userAge},
                #{markYear},
                #{classId},
                #{majorId}
                );
    </insert>
    <update id="updateStudent">
        update jwxt.student
        set userName = #{userName},
            userSex  = #{userSex},
            userAge  = #{userAge},
            classID  = #{classId},
            majorID  = #{majorId}
        where userID = #{userId};
    </update>
    <delete id="delStudentById">
        delete
        from jwxt.student
        where userID = #{userId};
    </delete>

    <select id="getAll" resultType="Student">
        select *
        from jwxt.student;
    </select>
    <select id="getAllById" resultType="Student">
        select *
        from jwxt.student
        where userID = #{userId};
    </select>
    <select id="queryCount" resultType="java.lang.Integer">
        select count(1)
        from jwxt.student;
    </select>
    <select id="findAllByPage" resultType="com.tu.pojo.Student">
        select *
        from jwxt.student
        limit #{start}, #{pagesize};
    </select>
</mapper>