<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tu.mapper.TeacherMapper">
    <insert id="insertTeacher">
        insert into jwxt.teacher
        values (#{teachId},
                #{teachName},
                #{teachSex},
                #{teachAge},
                #{degree},
                #{title},
                #{teachYear},
                #{roomId},
                #{classId}
                );
    </insert>
    <update id="updateTeacher">
        update jwxt.teacher
        set teachName = #{teachName},
            teachSex  = #{teachSex},
            teachAge  = #{teachAge},
            degree    = #{degree},
            title     = #{title},
            roomID    = #{roomId},
            classID   = #{classId}
        where teachID = #{teachId};
    </update>
    <delete id="delTeacherById">
        delete
        from jwxt.teacher
        where teachID = #{teachId};
    </delete>

    <select id="getAll" resultType="Teacher">
        select *
        from jwxt.teacher;
    </select>
    <select id="getAllById" resultType="Teacher">
        select *
        from jwxt.teacher
        where teachID = #{teachId};
    </select>
    <select id="queryCount" resultType="java.lang.Integer">
        select count(1)
        from jwxt.teacher;
    </select>
    <select id="findAllByPage" resultType="com.tu.pojo.Teacher">
        select *
        from jwxt.teacher
        limit #{start}, #{pagesize};
    </select>
</mapper>